<html>
  <head>
    <title>$i18n.getText("blackduckhub.config.title.label")</title>
    <meta name="decorator" content="atl.admin">
    $webResourceManager.requireResource("com.atlassian.auiplugin:ajs")
  </head>
  <body>
    <form id="hubConfig" class="aui">
        <h3>Hub Settings</h3>
        <table border="0" style="width: 100%" class="field-group">
            <tr>
                <td width="200px">
                    <label>$i18n.getText("blackduckhub.config.hubUrl.label")</label>
                </td>
                <td>
                    <input type="text" name="hubUrl" id="hubUrl" value="" class="text"/>
                </td>
            </tr>
            <tr>
                <td width="200px">
                    <label>$i18n.getText("blackduckhub.config.hubUser.label")</label>
                </td>
                <td>
                    <input type="text" name="hubUser" id="hubUser" value="" class="text"/>
                </td>
            </tr>
            <tr>
                <td width="200px">
                    <label>$i18n.getText("blackduckhub.config.hubPass.label")</label>
                </td>
                <td>
                    <input type="password" name="hubPass" id="hubPass" value="" class="text" autocomplete="false"/>
                </td>
            </tr>
        </table>
        <h3>Proxy Settings</h3>
        <table border="0" style="width: 100%" class="field-group">
            <tr>
                <td width="200px">
                    <label>$i18n.getText("blackduckhub.config.hubProxyUrl.label")</label>
                </td>
                <td>
                    <input type="text" name="hubProxyUrl" id="hubProxyUrl" value="" class="text"/>
                </td>
            </tr>
            <tr>
                <td width="200px">
                    <label>$i18n.getText("blackduckhub.config.hubProxyPort.label")</label>
                </td>
                <td>
                    <input type="text" name="hubProxyPort" id="hubProxyPort" value="" class="text"/>
                </td>
            </tr>
            <tr>
                <td width="200px">
                    <label>$i18n.getText("blackduckhub.config.hubNoProxyHost.label")</label>
                </td>
                <td>
                    <input type="text" name="hubNoProxyHost" id="hubNoProxyHost" value="" class="text"/>
                </td>
            </tr>
            <tr>
                <td width="200px">
                    <label>$i18n.getText("blackduckhub.config.hubProxyUser.label")</label>
                </td>
                <td>
                    <input type="text" name="hubProxyUser" id="hubProxyUser" value="" class="text"/>
                </td>
            </tr>
            <tr>
                <td width="200px">
                    <label>$i18n.getText("blackduckhub.config.hubProxyPass.label")</label>
                </td>
                <td>
                    <input type="password" name="hubProxyPass" id="hubProxyPass" value="" autocomplete="false" class="text"/>
                </td>
            </tr>
            <tr>
                <td/>
                <td>
                    <div class="field-group">
                        <input type="submit" value="$i18n.getText("blackduckhub.config.save.label")" class="button"/>
                        <input type="button" value="$i18n.getText("blackduckhub.config.testconnection.label")" class="button"/>
                    </div>
                </td>
            </tr>
        </table>
      
    </form>
  </body>
</html>